.account-password-container{
    width:200px;
    display:flex;

}
.account-password-btn {
    flex-shrink: 0;
    padding: 0px;
    border: none;
    background: none;
}
.account-password-btn:hover {
    background: none;
    color:gray;
    outline:none;
    box-shadow:none;
}
.account-password-btn:active {
      box-shadow: none;
 }
.account-password-btn:focus {
    outline: none !important;
    box-shadow: none !important;
}
.account-password-input {
    flex-grow: 1;
    padding: 0px;
    border: none;
    background-color: none;
}
.account-password-input:focus {
    outline: none !important;
    box-shadow: none !important;
}
.account-password-input:disabled {
    background-color: transparent;
}
